.header-div {
  background-color: #0f222d;
  display: flex;
  align-items: center;
}

.header-logo {
  margin: 0 10px 0 10px;
  color: #ebe7d9;
  text-shadow: 1px 1px #f55139;
}

.header-ul {
  list-style: none;
  display: flex;
  color: #ebe7d9;
}

.header-li {
  margin: 0 10px 0 10px;
  font-size: 14px;
}

.header-link {
  color: #ebe7d9;
  text-decoration: none;
}